streamlit==1.35.0
pydantic
unstructured[all-docs]
unstructured_inference
unstructured_pytesseract
langchain-core
langchain-openai
langchain-community
langchain-chroma
python-dotenv
requests
pypdf
pdfminer.six
pillow-heif
opencv-python
pdf2image
pysqlite3-binary
chromadb
python-poppler
poppler-utils
pytesseract
nltk==3.8.1
base64
uuid
psutil