streamlit==1.35.0
pydantic
unstructured[all-docs]
langchain-core
langchain-openai
langchain-community
langchain-chroma
python-dotenv
requests
pypdf
pdfminer.six
pillow-heif
opencv-python
pdf2image
pysqlite==2.8.3
chromadb
